*{
    box-sizing:border-box;
}    
div {
    margin-left:20px;
    /*margin-right: 40px;*/
}
.cat {
    background-color: gainsboro;
    border-color: black;
    border: 3px solid black;
    margin: 10px;
    float: left;
    width: 30%;
    height: 200px;

}

.inDiv {
    margin-top: 30px;
    padding:15px;
}

#hchick {
    background-color: pink;
    padding:0px 20px 0px 20px;
}

#hmut {
    background-color: indianred;
    color:white;
    padding:0px 20px 0px 20px;
}

#hfish {
    background-color: khaki;
    padding:0px 20px 0px 20px;
}


.subhead {

    margin-top: 0px;
    float: right;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

h2 {
    text-align: center;
}

@media(min-width:992px) {
    #fish {
        width: 30%;
    }

    #mut {
        width: 30%;
    }

    #chick {
        width: 30%;
    }
}

@media(min-width:768px) and (max-width:991px) {
    #chick {
        width: 45%;

    }

    #mut {
        width: 45%;

    }

    #fish {

        width: 45%;
    }
    .cat {
       
        height: 180px;
    
    }
}

@media(max-width:767px) {
    #chick {
        width: 100%;
    }

    #mut {
        width: 100%;
    }

    #fish {
        width: 100%;
    }
    .cat {
       
        height: 140Px;
    
    }
}
